@import url("../../../styles.css");

.banner {
  margin: auto;
  justify-content: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  flex: 1 0 0;
}

.iphone_14_pro {
  letter-spacing: -0.96px;
}

.iphone-14-pro-1 {
  display: none;
}