<div class="banner">
  <div
    class="w-[1440px] h-[632px] px-40 bg-gradient-to-r from-neutral-800 to-neutral-800 justify-between items-center inline-flex"
  >
    <div
      class="grow shrink basis-0 flex-col justify-start items-start gap-6 inline-flex"
    >
      <div
        class="self-stretch h-32 flex-col justify-start items-start gap-6 flex"
      >
        <div
          class="self-stretch opacity-40 text-white text-[25px] font-normal leading-loose"
        >
          Pro.Beyond.
        </div>
        <div class="self-stretch">
          <span
            class="text-white text-8xl font-extralight font-['SF Pro Display'] leading-[72px]"
            >IPhone 14 </span
          ><span
            class="text-white text-8xl font-semibold font-['SF Pro Display'] leading-[72px] iphone_14_pro"
            >Pro</span
          >
        </div>
      </div>
      <div
        class="self-stretch text-neutral-400 text-lg font-medium font-['SF Pro Display'] leading-normal"
      >
        Created to change everything for the better. For everyone
      </div>
      <div
        class="px-14 py-4 rounded-md border border-white justify-center items-center gap-2 inline-flex"
      >
        <div
          class="text-center text-white text-base font-medium font-['SF Pro Display'] leading-normal"
        >
          Shop Now
        </div>
      </div>
    </div>
    <div
      class="w-[406px] pt-[73px] flex-col justify-end items-center inline-flex"
    >
      <img src="http://localhost:4201/assets/Iphone Image.png" />
    </div>
  </div>

  <div class="w-[1440px] h-[600px] justify-start items-start inline-flex">
    <div
      class="grow shrink basis-0 flex-col justify-center items-end inline-flex"
    >
      <div
        class="self-stretch h-[328px] pr-12 bg-white justify-end items-center inline-flex"
      >
        <img src="http://localhost:4201/assets/PlayStation.png" />
        <div
          class="grow shrink basis-0 flex-col justify-center items-end gap-4 inline-flex"
        >
          <div
            class="self-stretch text-black text-[49px] font-medium font-['SF Pro Display'] leading-10"
          >
            Playstation 5
          </div>
          <div
            class="self-stretch text-neutral-400 text-sm font-medium font-['SF Pro Display'] leading-normal"
          >
            Incredibly powerful CPUs, GPUs, and an SSD with integrated I/O will
            redefine your PlayStation experience.
          </div>
        </div>
      </div>
      <div class="self-stretch h-[272px] justify-start items-start inline-flex">
        <div
          class="grow shrink basis-0 self-stretch] pr-12 bg-gray-200 justify-between items-center flex"
        >
          <img
            class="pr-[34px]"
            src="http://localhost:4201/assets/hero__gnfk5g59t0qe_xlarge_2x 1.png"
          />

          <div
            class="w-40 h-[143px] flex-col justify-center items-center gap-2 inline-flex"
          >
            <div class="self-stretch">
              <span
                class="text-black text-[29px] font-light font-['SF Pro Display'] leading-10"
                >Apple <br />AirPods </span
              ><span
                class="text-black text-[29px] font-medium font-['SF Pro Display'] leading-10"
                >Max</span
              >
            </div>
            <div
              class="self-stretch text-neutral-400 text-sm font-medium font-['SF Pro Display'] leading-normal"
            >
              Computational audio. Listen, it's powerful
            </div>
          </div>
        </div>
        <div
          class="grow shrink basis-0 self-stretch pr-12 bg-neutral-700 justify-between items-center flex"
        >
          <img src="http://localhost:4201/assets/image 36.png" />
          <div
            class="w-40 h-36 flex-col justify-center items-center gap-2 inline-flex"
          >
            <div class="self-stretch">
              <span
                class="text-white text-[29px] font-light font-['SF Pro Display'] leading-10"
                >Apple <br />Vision </span
              ><span
                class="text-white text-[29px] font-medium font-['SF Pro Display'] leading-10"
                >Pro</span
              >
            </div>
            <div
              class="self-stretch text-neutral-400 text-sm font-medium font-['SF Pro Display'] leading-normal"
            >
              An immersive way to experience entertainment
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="w-[720px] h-[600px] pl-14 py-11 bg-gray-200 justify-start items-center gap-px inline-flex"
    >
      <div
        class="grow shrink basis-0 flex-col justify-start items-start gap-4 inline-flex"
      >
        <div
          class="self-stretch h-[120px] flex-col justify-start items-start gap-4 flex"
        >
          <div class="self-stretch">
            <span
              class="text-black text-[64px] font-extralight font-['SF Pro Display'] leading-[56px]"
              >Macbook </span
            ><span
              class="text-black text-[64px] font-medium font-['SF Pro Display'] leading-[56px]"
              >Air</span
            >
          </div>
          <div
            class="self-stretch text-neutral-400 text-sm font-medium font-['SF Pro Display'] leading-normal"
          >
            The new 15‑inch MacBook Air makes room for more of what you love
            with a spacious Liquid Retina display.
          </div>
        </div>
        <div
          class="px-14 py-4 rounded-md border border-black justify-center items-center gap-2 inline-flex"
        >
          <div
            class="text-center text-black text-base font-medium font-['SF Pro Display'] leading-normal"
          >
            Shop Now
          </div>
        </div>
      </div>
      <img src="http://localhost:4201/assets/MacBook Pro 14.png" />
    </div>
  </div>
</div>
